competitive code/.vscode/c_cpp_properties.json
competitive code/.vscode/launch.json
competitive code/.vscode/settings.json
competitive code/.cph/.A_Avoiding_Zero.cpp_eb52d4eb4e53ec832f2427e53e71c829.prob
competitive code/.cph/.A_Circle_Coloring.cpp_65e1a97a61f3de54f46bb110515ff81b.prob
competitive code/.cph/.A_Copy_paste.cpp_2c7728b0e266f4b9d2405606c5b33536.prob
competitive code/.cph/.A_Cubes_Sorting.cpp_0090ac06eaef05d00636aa6a5c3d5f27.prob
competitive code/.cph/.A_Disjoint_Sets_Union.cpp_cd1287caed05bd5e7860dd06ffdec10c.prob
competitive code/.cph/.A_Floor_Number.cpp_9705fb5add77bfee0b04655273df440a.prob
competitive code/.cph/.A_Love_Triangle.cpp_249c123bf734a63ffccaf003ab34dcc7.prob
competitive code/.cph/.A_Metro.cpp_c9bca4e1801895d87ac39118c0cf12a3.prob
competitive code/.cph/.A_Nauuo_and_Votes.cpp_452ea8509c94d242600250ca320d822b.prob
competitive code/.cph/.A_New_Year_Transportation.cpp_141b618a2e806b36214370696741174c.prob
competitive code/.cph/.A_Number_of_Apartments.cpp_062acfac0b2949a163cf5db1cba6a186.prob
competitive code/.cph/.A_Party.cpp_fab014fc530ef834f340d7d72879671a.prob
competitive code/.cph/.A_PolandBall_and_Hypothesis.cpp_fbee4fbacc484f38cba654cd17c6fd05.prob
competitive code/.cph/.A_Protect_Sheep.cpp_e04a80c70e58f55fda5c7bbb30429969.prob
competitive code/.cph/.A_Roman_and_Browser.cpp_2abc48d7885622c68fc79c4b6c0b98a3.prob
competitive code/.cph/.A_Ropewalkers.cpp_d1becab7c23867667eae8a6804500919.prob
competitive code/.cph/.A_Square_Field.cpp_2ae56786cd984d95bbb6916762736996.prob
competitive code/.cph/.A_Tokitsukaze_and_Enhancement.cpp_95bbcc9c782588e90965a795818d076b.prob
competitive code/.cph/.Adding_Squares.cpp_5b9cf7430ab9b8a1621c51b5692b158d.prob
competitive code/.cph/.ATM_Queue.cpp_8c6528f8dce8e0d54ab2d8343766fe69.prob
competitive code/.cph/.B_Amr_and_Pins.cpp_bb7d4847f45fb4595c1f0645d75ac71d.prob
competitive code/.cph/.B_Arrays_Sum.cpp_1e82d9f8b2ed34561348bb07d7a1f8b7.prob
competitive code/.cph/.B_Barrels.cpp_60ab1b59244692a616d346ef1dae2ed7.prob
competitive code/.cph/.B_Books.cpp_90a48f38202db68cf574a17708b177f1.prob
competitive code/.cph/.B_Build_a_Contest.cpp_55f30d89368ba415e6b43967f0e91bc7.prob
competitive code/.cph/.B_Chess_Cheater.cpp_73aee1efcd1a89e23e96fe4372a3b16f.prob
competitive code/.cph/.B_Covered_Path.cpp_5b3e7d21b23fe44011f82f91a687de91.prob
competitive code/.cph/.B_Email_from_Polycarp.cpp_58f97d67408dcf932c874de6e1c5dfd0.prob
competitive code/.cph/.B_More_Cowbell.cpp_d611943deda160ab196d96e828ff2186.prob
competitive code/.cph/.B_Nauuo_and_Chess.cpp_2351e86bd7dcb68118644fe420de2246.prob
competitive code/.cph/.B_Our_Tanya_is_Crying_Out_Loud.cpp_021b9b3a1a0cd236f18e7e9f28b88ed1.prob
competitive code/.cph/.B_Physics_Practical.cpp_81331c3d461510e3d184bd34497d5448.prob
competitive code/.cph/.B_Rock_and_Lever.cpp_217a13862a78dab708c7ed34bbc7b311.prob
competitive code/.cph/.B_Stoned_Game.cpp_866e9e1da9a5ea09aef739e61c3cc647.prob
competitive code/.cph/.B_Symmetric_Matrix.cpp_a32e9bb6db2ea332e085e1a07aae164b.prob
competitive code/.cph/.B_Tokitsukaze_and_Mahjong.cpp_899447cd9593c10fc1b805bd0b9ec49b.prob
competitive code/.cph/.B_Two_Arrays.cpp_01678dcd50ce75474d2d76323bc1df10.prob
competitive code/.cph/.B_Win_Or_Lose.cpp_ea3f1a07553f685f7329f16769bb2eef.prob
competitive code/.cph/.C  The Hard Work of Paparazzi.cpp_d557d57bdb715a52010c5a430aa82a62.prob
competitive code/.cph/.C_Adding_Powers.cpp_5498a9101c1c4ae695aa6983c23cc879.prob
competitive code/.cph/.C_Books_Queries.cpp_f3c54d582b69fe0d6de952af6c7c8dcc.prob
competitive code/.cph/.C_Delete_and_insert.cpp_8bcf2cf68a0b374127e2add213d68ddd.prob
competitive code/.cph/.C_Discrete_Acceleration.cpp_b84d1fb4d751afdf3d7466746cd8e32e.prob
competitive code/.cph/.C_Drazil_and_Factorial.cpp_7a0ac474d44b904581a998a8b3aebf47.prob
competitive code/.cph/.C_Equal_Sums.cpp_700461304011ecfde19ced64cd66d427.prob
competitive code/.cph/.C_Exams.cpp_b35e75fe9a0b1658bf28997c6be4bcd4.prob
competitive code/.cph/.C_k_Amazing_Numbers.cpp_f0f8e31eaea3133daec91b19875b3b6e.prob
competitive code/.cph/.C_Nauuo_and_Cards.cpp_9807d998261e1baa646c87af36c81383.prob
competitive code/.cph/.C_NN_and_the_Optical_Illusion.cpp_67066e002cbf4dea70af12ccb75852c9.prob
competitive code/.cph/.C_Numbers_on_Whiteboard.cpp_5939f3ead5328cb2a45c437c7d48d091.prob
competitive code/.cph/.C_The_Hard_Work_of_Paparazzi.cpp_5f833738e2d60d9ee05a422326e6de6b.prob
competitive code/.cph/.C_Tokitsukaze_and_Discard_Items.cpp_01af6b845f2955f53cf60ed92809bf8f.prob
competitive code/.cph/.C_Yuhao_and_a_Parenthesis.cpp_a2e21c8262477071dcaf5bfec9187cda.prob
competitive code/.cph/.C1_Pok_mon_Army_easy_version_.cpp_f6948059215441a33ba19f911e4bf0aa.prob
competitive code/.cph/.C2_Exam_in_BerSU_hard_version_.cpp_1f352cbc308a593326ff597ea4387757.prob
competitive code/.cph/.Chef_and_Easy_Queries.cpp_dc5ec6526bb897c0deb3a0a34cfdc209.prob
competitive code/.cph/.Company_Queries_I.cpp_e2d4ebd671617a1a410d85a354526b17.prob
competitive code/.cph/.Company_Queries_II.cpp_e2eec39e2cb4bfec1716e1aec4566d47.prob
competitive code/.cph/.Compress_all_Subsegments.cpp_22f2f580f8397db3bcc54cf478c42673.prob
competitive code/.cph/.Covid_Run.cpp_35b4e6bf09ad2fda9c45f50933eb9187.prob
competitive code/.cph/.D_Dimensional_MST.cpp_393503ae3a4a1ca7843a9f300f29e47e.prob
competitive code/.cph/.D_Extra_Element.cpp_5130e2e5653480cb8ba8db88aa55e2db.prob
competitive code/.cph/.D_Non_zero_Segments.cpp_0941cb4a7757edb134b959762e8f3ef9.prob
competitive code/.cph/.D_String_Deletion.cpp_de7c1bdbc03ec66cedb9350eabbc14bb.prob
competitive code/.cph/.Distance_Queries.cpp_e51c2d808d4b4fd8ecd791d9fbf0787e.prob
competitive code/.cph/.E_Absolute_value_and_divisors.cpp_9fde58f563e31b36c3eaba622a0f8933.prob
competitive code/.cph/.E_String_Reversal.cpp_7fd9e2a89f372ed662ba781dc1a646e5.prob
competitive code/.cph/.GCD_operations.cpp_79c9e53610de93062b9e65aecfebf1a4.prob
competitive code/.cph/.Longest_Substring_2.cpp_459795ce0301a9859602002de5e2c14d.prob
competitive code/.cph/.Maximum_Spanning_Tree.cpp_1ff98c32b757ffc293f03af5a8f6b43e.prob
competitive code/.cph/.Metal_Harvest.cpp_db5e9261c9ace06651018f3ae792c76e.prob
competitive code/.cph/.Path_Queries.cpp_87c1631c75149293dcc10d313ad27e5a.prob
competitive code/.cph/.Positive_AND.cpp_a9fe5175d21cd54c14ceb1a39979202c.prob
competitive code/.cph/.Replace_for_X.cpp_1b132b110025033efd47590caf316ac8.prob
competitive code/.cph/.Robot_Detector.cpp_d413d55980ce63ad3413d9a5b7f1a13f.prob
competitive code/.cph/.Root_the_Tree.cpp_c1ce9898aaa3279cb1f830ad304ade56.prob
competitive code/.cph/.Subordinates.cpp_f69a0fe34337c4d9961b4a7cc1234edc.prob
competitive code/.cph/.Subtree_Queries.cpp_ab9ca1903e35d54b65e214422a89ebe8.prob
competitive code/.cph/.temp2.cpp_f0c08f97505b47338b82099dbb2c8ad7.prob
competitive code/.cph/.test.cpp_3e92e39790376d309471597f369697a3.prob
competitive code/.cph/.Tree_Diameter.cpp_c0b5c42e186ed2547bf2e951c56023d5.prob
competitive code/.cph/.Tree_Distances_I.cpp_800a9fb45fa07895b309bf515dc7ca14.prob
competitive code/.cph/.Tree_Distances_II.cpp_59de6008725cf8fca98814996f78c951.prob
competitive code/.cph/.Tree_Matching.cpp_612b91babbd8c9c8ac586b6ff3a38726.prob
competitive code/.cph/.Watermelon.cpp_0d636e56918a6c0959a89dfabb1c2f4b.prob
competitive code/A_Avoiding_Zero.cpp.bin
competitive code/A_Circle_Coloring.cpp.bin
competitive code/A_Copy_paste.cpp.bin
competitive code/A_Cubes_Sorting.cpp.bin
competitive code/A_Disjoint_Sets_Union.cpp.bin
competitive code/A_Floor_Number.cpp.bin
competitive code/A_Love_Triangle.cpp.bin
competitive code/A_Metro.cpp.bin
competitive code/A_Nauuo_and_Votes.cpp.bin
competitive code/A_New_Year_Transportation.cpp.bin
competitive code/A_Number_of_Apartments.cpp.bin
competitive code/A_Party.cpp.bin
competitive code/A_PolandBall_and_Hypothesis.cpp.bin
competitive code/A_Protect_Sheep.cpp.bin
competitive code/A_Roman_and_Browser.cpp.bin
competitive code/A_Ropewalkers.cpp.bin
competitive code/A_Square_Field.cpp.bin
competitive code/A_Tokitsukaze_and_Enhancement.cpp.bin
competitive code/Adding_Squares.cpp.bin
competitive code/ATM_Queue.cpp.bin
competitive code/B_Amr_and_Pins.cpp.bin
competitive code/B_Arrays_Sum.cpp.bin
competitive code/B_Barrels.cpp.bin
competitive code/B_Books.cpp.bin
competitive code/B_Build_a_Contest.cpp.bin
competitive code/B_Chess_Cheater.cpp.bin
competitive code/B_Covered_Path.cpp.bin
competitive code/B_Email_from_Polycarp.cpp.bin
competitive code/B_More_Cowbell.cpp.bin
competitive code/B_Nauuo_and_Chess.cpp.bin
competitive code/B_Our_Tanya_is_Crying_Out_Loud.cpp.bin
competitive code/B_Physics_Practical.cpp.bin
competitive code/B_Rock_and_Lever.cpp.bin
competitive code/B_Stoned_Game.cpp.bin
competitive code/B_Symmetric_Matrix.cpp.bin
competitive code/B_Tokitsukaze_and_Mahjong.cpp.bin
competitive code/B_Two_Arrays.cpp.bin
competitive code/B_Win_Or_Lose.cpp.bin
competitive code/C  The Hard Work of Paparazzi.cpp.bin
competitive code/C_Adding_Powers.cpp.bin
competitive code/C_Books_Queries.cpp.bin
competitive code/C_Delete_and_insert.cpp.bin
competitive code/C_Discrete_Acceleration.cpp.bin
competitive code/C_Drazil_and_Factorial.cpp.bin
competitive code/C_Equal_Sums.cpp.bin
competitive code/C_Exams.cpp.bin
competitive code/C_k_Amazing_Numbers.cpp.bin
competitive code/C_NN_and_the_Optical_Illusion.cpp.bin
competitive code/C_Numbers_on_Whiteboard.cpp.bin
competitive code/C_The_Hard_Work_of_Paparazzi.cpp.bin
competitive code/C_Tokitsukaze_and_Discard_Items.cpp.bin
competitive code/C_Yuhao_and_a_Parenthesis.cpp.bin
competitive code/C1_Pok_mon_Army_easy_version_.cpp.bin
competitive code/C2_Exam_in_BerSU_hard_version_.cpp.bin
competitive code/Chef_and_Easy_Queries.cpp.bin
competitive code/Company_Queries_I.cpp.bin
competitive code/Company_Queries_II.cpp.bin
competitive code/Covid_Run.cpp.bin
competitive code/D_Dimensional_MST.cpp.bin
competitive code/D_Non_zero_Segments.cpp.bin
competitive code/D_String_Deletion.cpp.bin
competitive code/Distance_Queries.cpp.bin
competitive code/E_Absolute_value_and_divisors.cpp.bin
competitive code/E_String_Reversal.cpp.bin
competitive code/GCD_operations.cpp.bin
competitive code/Longest_Substring_2.cpp.bin
competitive code/Maximum_Spanning_Tree.cpp.bin
competitive code/Metal_Harvest.cpp.bin
competitive code/Path_Queries.cpp.bin
competitive code/Positive_AND.cpp.bin
competitive code/Replace_for_X.cpp.bin
competitive code/Robot_Detector.cpp.bin
competitive code/Root_the_Tree.cpp.bin
competitive code/Subordinates.cpp.bin
competitive code/Subtree_Queries.cpp.bin
competitive code/temp2.cpp.bin
competitive code/Tree_Diameter.cpp.bin
competitive code/Tree_Distances_I.cpp.bin
competitive code/Tree_Distances_II.cpp.bin
competitive code/Tree_Matching.cpp.bin
competitive code/Watermelon.cpp.bin
